@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

#logo {
    width: 20vw;
}

h1{
    color: whitesmoke;
    /* font-size: .5rem; */
    font-family: "Protest Guerrilla", serif;   
}
#name{
    color: rgb(212, 43, 122);
    font-size: 45px;
}
#va {
    color: rgb(43, 206, 212);
    font-size: 45px;

}
#voice{
    width: 170px;
    display: none;
}

#btn {
    width: 30%;
    background: linear-gradient(to right,#1ea2e9,rgb(195, 21, 122));
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 10px #1ea2e9, 2px 2px 10px rgb(195, 21, 122);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 20px #1ea2e9, 2px 2px 20px rgb(195, 21, 122);
    letter-spacing: 2px;
}